<div class="post-container">
  <span class="card-title"><%= post.title %></span>
  <span class="user-bio line-clamp-2"><%= post.text %></span>
  <span class="user-totalpost w-full">Comments : <%= post.comments_counter %>, Likes : <%= post.likes_counter %></span>
</div>

